*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after {
        font-family: 'FontAwesome';
    }
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: 'Montserrat';
    background: $bg;
}

.icon{
    &-search::before{
        content: '\f002';
        font-weight: 300;
    }
    &-heart::before{
        content: '\f004';
        font-weight: 300;
    }
    &-cart::before{
        content: '\f07a';
        font-weight: 300;
    }
    &-user::before{
        content: '\f007';
        font-weight: 300;
    }
    &-clock::before{
        content: '\f017';
        font-weight: 300;
    }
    &-vk::before{
        content: '\f189';
        font-weight: 400;
    }
    &-youtube::before{
        content: '\f167';
        font-weight: 400;
    }
    &-insta::before{
        content: '\f16d';
        font-weight: 400;
    }
    &-fb::before{
        content: '\f39e';
        font-weight: 400;
    }
    &-menu::before{
        content: '\f0c9';
        font-weight: 300;
    }
}
.title {
    font-size: 22px;
    line-height: 27px;
    color: $black;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 100px 0;
}