footer.footer 
    .footer__container
        .footer__item 
            h3.footer__item-title ТОВАРЫ
            ul.footer__item-list 
                li.footer__item-li 
                    a.footer__item-link(href="#!") Часы
                li.footer__item-li
                    a.footer__item-link(href="#!") Кольца
                li.footer__item-li
                    a.footer__item-link(href="#!") Серьги
                li.footer__item-li
                    a.footer__item-link(href="#!") Браслеты
                li.footer__item-li
                    a.footer__item-link(href="#!") Клатчи
                li.footer__item-li
                    a.footer__item-link(href="#!") Цепочки
        .footer__item 
            h3.footer__item-title ПОКУПАТЕЛЯМ
            ul.footer__item-list 
                li.footer__item-li 
                    a.footer__item-link(href="#!") Скидки
                li.footer__item-li
                    a.footer__item-link(href="#!") Новости
        .footer__item 
            h3.footer__item-title ПОКУПАТЕЛЯМ
            p.footer__item-text Ул. Аския, Яккасарайский район, Ташкент, Узбекистан
            .footer__item-tels 
                a.footer__item-phone(href="#!") +998 97 742 54 14
                a.footer__item-phone(href="#!") +998 97 742 54 14
            a.footer__item-mail(href="#!") totembo@exapmle.com
            h3.footer__item-title СОЦИАЛЬНЫЕ СЕТИ
            .footer__item-social 
                a.footer__item-link.icon-vk(href="#!") 
                a.footer__item-link.icon-youtube(href="#!") 
                a.footer__item-link.icon-insta(href="#!") 
                a.footer__item-link.icon-fb(href="#!") 
