header.header
    .header__prenav
        a.header__prenav-lang(href="#!") ru
        h1.header__prenav-title TOTEMBO
        a.header__prenav-search.icon-search(href="#!")
    nav.header__nav
        .header__nav-container
            .bg
            button.header__btn.icon-menu
            ul.header__nav-list 
                -var nav = ['Часы', 'Кольца', 'Серьги','Браслеты', 'Клатчи', 'Цепочки']
                each value in nav 
                    li.header__nav-li 
                        a.header__nav-link(href="#!")= value
            .header__icons 
                a.header__icons-link.icon-heart(href="#!") 
                a.header__icons-link.icon-cart(href="#!") 
                a.header__icons-link.icon-user(href="#!") 